
@{
    Layout = null;
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@model Tender
@Html.AntiForgeryToken()


<table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">
    <tr>
        <td class="fieldname">Project</td>
        <td>
            @Html.TextAreaFor(m => m.Project, new { placeholder = "Type your Title here" })
            @Html.ValidationMessageFor(m => m.Project)
        </td>
    </tr>
    <tr>
        <td class="fieldname">Closing Date</td>
        <td>
            @Html.TextBoxFor(m => m.ClosingDate, null, new { placeholder = "Type your Title here", @class = "Date" })
            @Html.ValidationMessageFor(m => m.ClosingDate)
        </td>
    </tr>
    <tr>
        <td class="fieldname">Status</td>
        <td>
            @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
          {
           new SelectListItem{Text="Closed", Value="Closed"},

          }, "Please select")
            @Html.ValidationMessageFor(m => m.Status)
        </td>
    </tr>
    <tr>
        <td class="fieldname">Upload PDF/Image</td>
        <td>

            <div class="upload">
                <input type="button" class="uploadBtn" value="Choose File">
                <input type="file" name="FileName" />
                <label>
                    @Html.TextBox("PDFFileName", null, new { @type = "text", @placeholder = "No file chosen", @readonly = "true" })
                    @Html.HiddenFor(m => m.PdfFileGUID)
                    @Html.HiddenFor(m => m.PdfFileExtension)
                </label>
            </div>
            @Html.ValidationMessage("PDFFileName")

            @*<div class="upload">
            <input type="button" class="uploadBtn" value="Choose File"><input type="file" name="uploadAttach_PDF_3" />
            <label><input type="text" name="uploadFile_PDF_3" id="uploadFile_PDF_3" value="Results-289A.JPG" placeholder="No file chosen"></label>
        </div>*@
        </td>
    </tr>
</table>
<div class="padding10"></div>
<input type="button" id="EditResultSubmitbtn" class="submitBtn floatRight" value="Save">
<div class="clear padding10"></div>
