
@{
    ViewBag.Title = "Town Improvement Project ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}
@section Style
{


}

@model List<Notice>
<head>
    <meta charset="utf-8">
    <title>Bishan-Toa Payoh Town Council | CMS</title>
    <link rel="stylesheet" type="text/css" href="@appPath/Contents/Admin/css/common.css">

    <script src="@appPath/Contents/Admin/js/jquery-3.4.1.min.js"></script>
    <script src="@appPath/Contents/Admin/common.js" type="text/javascript"></script>
    <!-- MaxCDN Bootstrap plugins -->
    <script src="@appPath/Contents/Admin/js/bootstrap/bootstrap.js"></script>

</head>

<div class="maincontents">
    <form>
        <h1>Town Improvement Project </h1>
        <div class="floatLeft">

            @Html.DropDownList("NoticeType", ViewBag.Solution as List<SelectListItem>, "Filter by NoticeType", new { @onchange="FilterText()", id = "NoticeType", @class = "filter" })

        </div>
        <div class="clear padding10"></div>

        <div class="tenderContainer notices">

            <div class="floatRight">

                <a href="@appPath/Admin/TownImprovementProject/ViewType" class="resetBtn">Add Type</a>
                <a href="#" class="editMetaBtn" data-toggle="modal" data-target="#addNotice">Add Notice</a>
            </div>


            <div class="clear padding10"></div>
            <div class="homepage">

                <table cellpadding="0" cellspacing="0" id="NoticeProjecttbl" class="tblgrey">
                    <thead>
                        <tr>
                            <th width="60">S/N</th>
                            <th style="display:none">Id</th>
                            <th>Type</th>
                            <th>Loction</th>
                            <th width="120">Status</th>
                            <th width="200">Modified Date</th>
                            <th width="120">Action</th>
                        </tr>
                    </thead>
                    <tbody class="content">
                        @if (Model != null && Model.Count > 0)
                        {
                            int SNo = 1;
                            foreach (Notice ES in Model)
                            {
                                <tr>
                                    <td>@SNo</td>
                                    <td style="display:none">@ES.GUID</td>
                                    <td>@ES.NoticeType</td>
                                    <td>@ES.Location</td>
                                    <td>@ES.Status</td>
                                    <td>@ES.ModifiedOn</td>


                                    @*  <td><a href="javascipt:void(0)" class="editNoticeProject" data-uniquecode="@ES.GUID">Edit</a> | <a href="javascipt:void(0)" id="deletebtn" data-uniquecode="@ES.GUID" data-toggle="modal">Delete</a></td>*@
                                    <td><a href="#" onclick="editNoticeProject('@ES.GUID')">Edit</a> | <a href="javascipt:void(0)" id="deletebtn" data-uniquecode="@ES.GUID" data-toggle="modal">Delete</a></td>
                                </tr>
                                SNo++;
                            }
                        }


                    </tbody>
                </table>

                <div id="modalWrapper">

                </div>

                @if (Model != null && Model.Count() > 0)
                {
                    <div class="paginator pagination" data-pageindex="1" data-totalitems="@(((Model != null && Model.Count() > 0)) ? Model[0].TotalCount : 0)"></div>

                }
            </div>
        </div>


    </form>
</div>
<!-- Popup (delete) -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content deletealert">
            <div class="modal-header">
                <div class="title">Delete Tender</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align:center;">
                    <p><strong>Are you sure to delete this tender?</strong></p>
                    <div class="padding10"></div>

                    @using (Html.BeginForm("DeleteNoticeProject", "TownImprovementProject", FormMethod.Post, new { enctype = "multipart/form-data", id = "DeleteEventsForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="EncryptedId" id="deleteeventId" />
                        @*<input type="button" class="submitBtn" value="Delete">*@
                        <div class="clear padding10"></div>
                    }
                    <input type="button" class="submitBtn" id="confirm_deleteiconBtn" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit Notice) -->
<div class="modal fade" id="editNoticeProject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Project</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm("EditNoticeProject", "TownImprovementProject", FormMethod.Post, new { area = "Admin", enctype = "multipart/form-data", id = "EditNoticeProject" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="container">
                        <table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">
                            <tr>
                                <td class="fieldname">Type</td>
                                <td>
                                    @Html.Hidden("GUID", null)
                                    @Html.DropDownList("NoticeType", ViewBag.Solution as List<SelectListItem>, "Filter by NoticeType", new { id = "NoticeType", @class = "filter" })
                                    @Html.ValidationMessage("NoticeType")
                                </td>
                            </tr>

                            <tr>
                                <td class="fieldname">Location</td>
                                <td>
                                    @Html.TextBox("Location", null, new { placeholder = "Type your Title here" })
                                    @Html.ValidationMessage("Location")
                                </td>
                            </tr>
                            <tr>
                                <td class="fieldname">Status</td>
                                <td>
                                    <select>
                                <option disabled>Please Select</option>
                                <option selected>Completed </option>
                                <option>In Progress </option>
                            </select>
                                    @Html.DropDownList("Status", new SelectList("Completed", "Progress"), "Filter by Status", new { @class = "filter", id = "filtervalue" })
                                    @Html.ValidationMessage("Status")

                                       
                                    @Html.DropDownList("Status", new List<SelectListItem>
                                          { new SelectListItem{Text="Completed", Value="Completed"},
                                            new SelectListItem{Text="Progress", Value="Progress"}}, 
                                            "Please select"    
                                            )

                                </td>
                            </tr>

                        </table>
                        <div class="padding10"></div>
                        <input type="submit" class="submitBtn floatRight" value="Save">
                        <div class="clear padding10"></div>
                    </div>
               
                }*@
            </div>
                
        </div>
    </div>
</div>

<!-- Popup (add Notice) -->
<div class="modal fade" id="addNotice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Add  Project</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddNoticeProject", "TownImprovementProject", FormMethod.Post, new { area = "Admin", enctype = "multipart/form-data", id = "AddNoticeProject" }))
                {
                    <div class="container">
                        <table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">

                            @Html.AntiForgeryToken()
                            <tr>
                                <td class="fieldname">Type</td>
                                <td>

                                    @Html.DropDownList("NoticeType", ViewBag.Solution as List<SelectListItem>, "Filter by NoticeType", new { id = "NoticeType", @class = "filter" })
                                    @Html.ValidationMessage("NoticeType")
                                </td>
                            </tr>

                            <tr>
                                <td class="fieldname">Location</td>
                                <td>
                                    @Html.TextBox("Location", null, new { placeholder = "Type your Title here" })
                                    @Html.ValidationMessage("Location")
                                </td>
                            </tr>
                            <tr>
                                <td class="fieldname">Status</td>
                                <td>

                                    @*@Html.DropDownList("Status", new SelectList("Completed", "Progress"), "Filter by Status", new { @class = "filter", id = "filtervalue" })
                            @Html.ValidationMessage("Status")*@

                                    @Html.DropDownList("Status", new List<SelectListItem>
                                          { new SelectListItem{Text="Completed", Value="Completed"},
                                            new SelectListItem{Text="Progress", Value="Progress"}},
                                            "Please select"
                                            )



                                </td>
                            </tr>

                        </table>
                        <div class="padding10"></div>
                        <input type="submit" class="submitBtn floatRight" value="Save">
                        <div class="clear padding10"></div>
                    </div>
                }
              
            </div>

        </div>
    </div>
</div>




@section scripts
{
    <script>
        //Notices
        $('input[name=uploadAttach_PDF]').change(function () {
            document.getElementById("uploadFile_PDF").value = $(this).val();
        });
        $('input[name=uploadAttach_PDF_2]').change(function () {
            document.getElementById("uploadFile_PDF_2").value = $(this).val();
        });

        //Results
        $('input[name=uploadAttach_PDF_3]').change(function () {
            document.getElementById("uploadFile_PDF_3").value = $(this).val();
        });
        $('input[name=uploadAttach_PDF_4]').change(function () {
            document.getElementById("uploadFile_PDF_4").value = $(this).val();
        });

        //Awarded
        $('input[name=uploadAttach_PDF_5]').change(function () {
            document.getElementById("uploadFile_PDF_5").value = $(this).val();
        });
        $('input[name=uploadAttach_PDF_6]').change(function () {
            document.getElementById("uploadFile_PDF_6").value = $(this).val();
        });

        $('.tenderContainer').hide();
        $('.tenderContainer.notices').show();
        $('#filterByType').change(function () {
            var x = $(this).val();
            $('.tenderContainer').hide();
            if (x == "notices") {
                $('.tenderContainer.notices').fadeIn(200);
            } else if (x == "results") {
                $('.tenderContainer.results').fadeIn(200);
            } else if (x == "awarded") {
                $('.tenderContainer.awarded').fadeIn(200);
            }
        });


  </script>
    <script src="~/Contents/Admin/js/jqueryPagination/simplePagination.js"></script>
    <script src="@appPath/Contents/Admin/js/jqueryValidate/jquery.validate.js"></script>
    <script src="@appPath/Contents/Admin/js/jqueryValidate/additional-methods.js"></script>
    <script src="~/Contents/Admin/js/Custom/Add-NoticeProject.js"></script>
   }



