
@{
    ViewBag.Title = "AddFacility";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var appPath = Convert.ToString(ApplicationInstance.Application["ApplicationPath"]);
}

@model Facility


    <div class="maincontents">
        @using (Html.BeginForm("AddFacility", "OurTown", FormMethod.Post, new { enctype = "multipart/form-data", id = "AddFacilityFrom" }))
        {
            @Html.AntiForgeryToken()
            <h1>Our Facilities</h1>
            <div class="homepage">
                <h2>Add Facility</h2>

                <div class="formLayout">
                    <span id="TableRowCheck" style="color:red;float:right"></span>
                    <table cellpadding="0" cellspacing="0" border="0" class="tblcreate">
                        <tr>

                            <td class="fieldname">Facility Name</td>
                            <td>
                                @Html.TextBox("Name", "", new { placeholder = "Type your Title here" })
                                @Html.ValidationMessage("Name")
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="padding10"></div>


                <div class="floatRight">
                    <a href="#" class="editMetaBtn" data-toggle="modal" data-target="#imagemodeladd">Add Photo</a>

                </div>
                <div class="clear padding10"></div>

                <table cellpadding="0" cellspacing="0" class="tblgrey" id="FacilityTbl">
                    <thead>
                        <tr>
                            <th width="60">S/N</th>
                            <th>Photo</th>
                            <th>Description</th>
                            <th width="200">Modified Date</th>
                            <th width="120">Action</th>
                        </tr>
                    </thead>
                    <tbody class="photos" id="imageadd">
                    </tbody>
                </table>

                <div class="padding10"></div>
                <!--div class="pagination"> <a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">...</a> <a href="#">7</a> <a href="#">8</a> <a href="#">9</a> <a href="#">&raquo;</a></div>
            <div class="padding10"></div-->

                <div class="floatRight">
                    <a href="javascript:void(0);" id="FacilitySubmit" class="submitBtn  addNotice" aria-hidden="true">Save</a>&nbsp;
                    <input type="button" class="resetBtn" value="Back" onClick="location.href='@appPath/Admin/Facilities'">

                    @*<input type="submit" class="submitBtn" id="FacilitySubmit" value="Save">&nbsp;*@

                </div>
                <div class="clear"></div>
            </div>
        }
    </div>

<!-- Popup (delete) -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content deletealert">
            <div class="modal-header">
                <div class="title">Delete Facility</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container" style="text-align:center;">
                    <p><strong>Are you sure to delete this facility?</strong></p>
                    <div class="padding10"></div>
                    <input type="button" class="submitBtn" value="Delete">
                    <div class="clear padding10"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (edit) -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Photo</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">
                        <tr>
                            <td class="fieldname">Description</td>
                            <td><textarea>Blk 17 Lor 7 Toa Payoh</textarea></td>
                        </tr>
                        <tr>
                            <td class="fieldname">Photo <span class="importantNote">(1024px by 655px)</span></td>
                            <td>
                                <div class="upload">
                                    <input type="button" class="uploadBtn" value="Choose File"><input type="file" name="uploadAttach" />
                                    <label><input type="text" name="uploadFile" id="uploadFile" value="img-01.jpg" placeholder="No file chosen"></label>
                                </div>
                                <div class="imgPreview"><img src=""></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="fieldname">Photo Alt Tag</td>
                            <td><input type="text" value="Blk 17 Lor 7 Toa Payoh"></td>
                        </tr>
                    </table>
                    <div class="padding10"></div>
                    <input type="button" class="submitBtn floatRight" value="Save">
                    <div class="clear padding10"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Popup (add) -->
<div class="modal fade" id="imagemodeladd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content editalert">
            <div class="modal-header">
                <div class="title">Edit Photo</div>
                <div class="close" data-dismiss="modal" aria-hidden="true">Close [X]</div>
                <div class="clear"></div>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("AddPhotoFacility", "OurTown", FormMethod.Post, new { enctype = "multipart/form-data", id = "PhotoFacilityFrom" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="container">
                        <table cellpadding="0" cellspacing="0" border="0" class="editBannerForm">
                            <tr>
                                <td class="fieldname">Description</td>
                                <td>
                                    @Html.TextArea("Description", new { placeholder = "Type your Title here" })
                                    @Html.ValidationMessage("Description")
                                </td>
                            </tr>
                            <tr>
                                <td class="fieldname">Photo <span class="importantNote">(1024px by 655px)</span></td>
                                <td>
                                    <div class="upload">
                                        <input type="button" class="uploadBtn" value="Choose File">
                                        <input type="file" id="LargeImage" name="LargeImage" data-imageWidth="" data-imageHeight="" />

                                        <label>
                                            @*@Html.TextBox("LargeImageFileName", (Model != null && !string.IsNullOrEmpty(Model.ImageGUID) ? Model.ImageName + "." + Model.ImageExtension.Trim('.') : ""), new { @type = "text", @placeholder = "No file chosen", @readonly = "true" })*@
                                            @Html.TextBox("LargeImageFileName", (Model != null && !string.IsNullOrEmpty("ImageGUID") ? "ImageGUID" + "." + Model.ImageExtension.Trim('.') : ""), new { @type = "text", @placeholder = "No file chosen", @readonly = "true" })
                                        </label>
                                    </div>
                                    @Html.ValidationMessage("LargeImage")
                                    <div class="imgPreview"><img id="LargeImageFilePath" src=""></div>
                                    <input type="hidden" id="hiddenLargeImageFilePath" />
                                </td>
                            </tr>
                            <tr>
                                <td class="fieldname">Photo Alt Tag</td>
                                <td>
                                    @Html.TextBox("ImageAltTag", null, new { placeholder = "Type your Title here" })
                                    @Html.ValidationMessage("ImageAltTag")
                                    @Html.Hidden("ImageAltTag")
                                </td>
                            </tr>
                        </table>
                        <div class="padding10"></div>
                        <a href="javascript:void(0);" id="btnfacility" class="submitBtn floatRight" aria-hidden="true">Save</a>
                        <a href="javascript:void(0);" style="display:none" id="btnupdatefacility" class="submitBtn floatRight" aria-hidden="true">Save</a>
                        @*<input type="submit" class="submitBtn floatRight" id="btnfacility" value="Save">*@
                        <div class="clear padding10"></div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>




@section scripts{


    <script src="@appPath/Contents/Admin/js/jqueryValidate/jquery.validate.js"></script>
    <script src="@appPath/Contents/Admin/js/jqueryValidate/additional-methods.js"></script>
    <script src="@appPath/Contents/Admin/js/Custom/admin-facility-add.js"></script>


}


